
@{
    ViewData["Title"] = "Blog";
}

@model List<BlogPost>

<br/>
<div class="center-block">

    @if (Model != null)
    {
        @foreach (var post in Model)
        {
            <h2 class="portfolio-site-title">@post.Title</h2>
            <p class="blog-post-metadata"><i>By @post.Author - @post.GetFormattedDate()</i></p>

            @if (post.HasImage())
            {
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <br />
                        <span class="portfolio-site-content">@post.Content</span>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="center-block">
                            <br />
                            <br />
                            <img src="@post.ImagePath" alt="@post.Title image" class="img-responsive center-block blog-post-image" />
                        </div>
                    </div>
                </div>
                <br />
                <hr />
                <br />
                <br />
            }
            else
            {
                <br />
                <br />
                <span class="portfolio-site-content">@post.Content</span>
                <br />
                <hr />
                <br />
                <br />
            }
        }
    }
    else
    {
        <h2 class="portfolio-site-title">No Blog Posts Yet - Check Back Soon!</h2>
    }

</div>