
@{
    ViewData["Title"] = "Blog";
}

@model List<BlogPost>

<br/>
<div class="center-block">
    @foreach (var item in Model)
    {
        <h2 style="font-family: 'Vidaloka', serif; text-align: center;">@item.Title</h2>
        <p style="font-family: 'Frank Ruhl Libre', serif; text-align: center;"><i>By @item.Author - @item.GetFormattedDate()</i></p>
        @if (!String.IsNullOrEmpty(item.ImagePath) && !item.ImagePath.Equals("string"))
        {
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <br />
                    <span style="font-family: 'Frank Ruhl Libre', serif;">@item.Content</span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="center-block">
                        <br />
                        <br/>
                        <img src="@item.ImagePath" alt="@item.Title image" class="img-responsive center-block" style="max-width: 80%; width: 100%; vertical-align: middle" />
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <br />
        }
        else
        {
            <br />
            <br />
            <span style="font-family: 'Frank Ruhl Libre', serif;">@item.Content</span>
            <br />
            <hr />
            <br />
            <br />
        }
    }
</div>

