
@{
    ViewData["Title"] = "Blog";
}

@model List<BlogPost>

<br/>
<div class="center-block">
    @foreach (var item in Model)
    {
        <h3>@item.Title</h3>
        <br />
        @if (!String.IsNullOrEmpty(item.ImagePath) && !item.ImagePath.Equals("string"))
        {
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <span><i>By @item.Author - @item.GetFormattedDate()</i></span>
                    <br />
                    <br />
                    <span>@item.Content</span>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="center-block">
                        <br />
                        <img src="@item.ImagePath" alt="@item.Title image" class="img-responsive center-block" style="max-width: 80%; width: 100%; vertical-align: middle" />
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <br />
            <br />
        }
        else
        {
            <span><i>By @item.Author - @item.GetFormattedDate()</i></span>
            <br />
            <br />
            <span>@item.Content</span>
            <br />
            <hr />
            <br />
            <br />
        }
    }
</div>

